{% extends "backoffice/backoffice.html" %}
{% load static %}

{% block main %}
<div class="container mt-4">
    <!-- Intestazione -->
    <div class="d-flex flex-row flex-md-row justify-content-between align-items-center mb-4">
        <h2 class="h4 text-center text-md-start">
            <i class="fas fa-tags me-2"></i>Dettaglio Categoria Aziendale
        </h2>
        <a href="{% url 'crm:category_list' %}" class="btn btn-outline-dark mt-2 mt-md-0">
            <i class="fa-solid fa-reply me-2"></i>
        </a>
    </div>

    <!-- Form Dettaglio Categoria -->
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <button type="submit" name="update_category" class="btn bg-dark text-white">
                        <i class="fas fa-save me-2"></i>Salva Modifiche
                    </button>
                    <button type="submit" name="delete_category" class="btn btn-outline-danger" onclick="return confirm('Sei sicuro di voler eliminare questa categoria?');">
                        <i class="fas fa-trash-alt me-2"></i>Elimina
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
